.header {

    background: rgb(240, 165, 165);
    height: 50px;
    width: 100%;

}

.header a {

    position: relative;
    top: 15px;
    text-decoration: none;

    text-align: center;
    background-color: rgb(106, 184, 106);

    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    color: white;

}


.header-right {

    float: right;

}

.header a:hover {

    background: grey;
    color: white;

}


h1,
h3 {
    font-size: large;
    text-align: center;
}


body>img {
    width: 80px;

    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: none;
}

body h4 {

    text-align: center;

}

table,
td {
    border: 2px solid rgb(39, 25, 25);
    padding: 5px 5px;
    width: 450px;
    height: 50px;
    text-align: center;
    font-size: large;
    transition-property: font-size;


}

tr:nth-child(even) {
    background-color: rgb(250, 225, 225);
}

thead>tr {
    background-color: rgb(197, 145, 145);
    color: aliceblue;
}



tr td:hover {

    font-size: larger;

}

body::before {
    content: "";
    position: fixed;
    background-image: url("login-page.jpg");
    z-index: -1;
    inset: 0;

    background-size: cover;
    opacity: 0.3;
}

.container{

    display:flex;
    justify-content: center;
}

.table {
    display: inline-block;
    vertical-align: top;
    
    margin-left:40px;
    margin-right:40px;
   
    
   
}


th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

